<?xml version="1.0"?>
<launch>
    <!--<arg name="cmd_topic" default="cmd_vel_mux/input/teleop" />-->
    <arg name="cmd_topic" default="tracker/cmd_vel" />

    <arg name="simulation" default="false"/>
    <param name="/use_sim_time" value="$(arg simulation)"/>

    <include file="$(find openni_launch)/launch/openni.launch" />

    <node pkg="aiibot_bringup" type="velocity_send" name="velocity_send">
        <param name="cmd_topic" value="$(arg cmd_topic)" />
        <param name="Base_Port" value="/dev/ttyUSB0" />
    </node>

</launch>
